.btn {
    height: 35px;
    width: 160px;
    color:white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 290px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: rgb(34, 85, 238);
}
.btn:hover {
    transition: 0.8s;
    color: rgb(154, 178, 250);
    background-color: rgb(28, 53, 129);
}