.logo {
    height: auto;
    width: 350px;
    margin-top: 10px;
    background-color: white;
}
.nome {
    width: 200px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}
#nome::-webkit-input-placeholder{
    font-size: 20px;
    font-style: bold;
    color:rgb(65, 64, 64);
}
.rm {
    width: 200px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}
#rm::-webkit-input-placeholder{
    font-size: 20px;
    font-style: bold;
    color:rgb(65, 64, 64);
}
.email {
    width: 200px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}
#email::-webkit-input-placeholder{
    font-size: 20px;
    font-style: bold;
    color:rgb(65, 64, 64);
}
.botao {
    width: 100%;
    height: auto;
    /* margin-top: 10px; */
    text-align: center;
    background-color: white;
}
.btn {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    /* margin-bottom: 30px; */
    border-radius: 30px;
    border: solid 1px black;
    background-color: rgb(0, 132, 255);
}
.btn:hover {
    background-color: rgb(16, 88, 156);
}